* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.7;
    padding: 30px 15px;
    background-color: rgb(236, 229, 229);
    color: rgb(137, 43, 160);
}

.recipe-section-container {
    max-width: 1200px;
    padding: 0 15px; 
    text-align: center;
}

h1{
    font-size: 3.0rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -1px;

}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba (0, 0, 0, 0.08);
    border-radius: 10px;
    margin-inline: auto;
}

#search-input {
    padding: 15px 20px;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid rgb(177, 28, 177);
    border-radius: 10px 0 0 10px;
    transition: border-color 0.3s ease;

}
#search-input:focus {
   border-color: rgb(77, 2, 139);
   box-shadow: 0 0 5px purple;
}
#search-button {
    padding: 14px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: rgb(137, 89, 151);
    color: white;
    border: 0 10px 10px 10px;
    border-radius: 0 10px 10px 0;
    transition: background-color 0.3s ease;
   


}
#search-button:hover {
    background-color: rgb(64, 38, 97);
    cursor: pointer;
    transform: translateY(-2px);
}

.random-button {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: rgb(139, 165, 235);
    border: 1px solid rgb(12, 49, 129);
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 8px rgba(110, 134, 187, 0.1);
    padding: 10px 20px;
    cursor: pointer;

}
.random-button:hover {
    background-color: rgb(3, 39, 116);
    transform: translateY(-2px)
}
